# Preprocessing
tika~=1.24

# Plotting
matplotlib

# Misc
dataclasses~=0.8
setuptools~=61.2.0

# NLP
nltk
spacy~=3.3.1
textacy~=0.12.0
coreferee

# Acceleration
cupy
numpy~=1.23.0

# Graphs
graphviz
networkx
pygraphviz
